* {
  box-sizing: border-box;
  background: rgb(62, 106, 189);
}
body {
  margin: 0;
  padding: 0;
}
img {
  width: 25%;
}
.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;/*cuando no cabe pasa a la siguiente*/
}
.column{
  flex: 25%;
  padding: 5px;
}
.column img{
  margin-top: 5px;
}
@media (min-width: 600px) and (max-width: 800px){
  .column{
    flex: 33%;
  }
}
/*Mustra galeria en dos columnasen moto C*/
  @media(min-width: 275px) and (max-width: 600px){
    body {
      background: black;
  margin: 0;
  padding: 0;
}
  .column{
    flex: 50%;
  }
}